    @import "../node_modules/bootstrap/scss/bootstrap";

    $primary:#5265E1;
    $secondary:#FA5959;

    body{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }

    .navbar-nav .nav-link{
        margin-left: 2rem;
    }
    .navbar-nav .btn{
        margin-left: 2rem;
        width: 7rem;
    }
    #navbarNavAltMarkup{
        margin-left: 8rem;
    }

    .btn{
        font-size: medium;
        font-weight: 500;
    }
    .firstButton:hover{
        color: $primary;
        background: white;
    }
    .secondButton:hover{
        color:black;
        border-color: black;
        background: white;
    }
    .descriptionFont{
        color: gray;
    }
    .titleFont{
        font-weight: 700;
    }
    .bgToPic {
        background-color: #3a3a3a;
        // width: 576px;
        padding: 20px;
        border-radius: 20px;
        // position: relative;
        z-index: 10;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
        
    }
    .roundedBackRight{
        background-color: #5265E1;
        // height: 40%;
        // width: 40%;
        // position: absolute;
        // z-index: 1;
   border-top-left-radius: 111px;
   border-bottom-left-radius: 410px;    
   padding-bottom: 10rem;
   height: 80%;
        // bottom:0;
        // right: 0;
    }

    .secondImg{
        z-index: 10;
        margin-left: 100px;
    }
    .roundedBackLeft{
        background-color: #5265E1;
        height: 290px;
        z-index: 1;
        margin-top: 124px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 40%;
        width: 450px;
    }

    .nav-tabs .nav-link{
        color: black;
        border:none;

    }
    .nav-tabs .nav-link:hover{
        color: $secondary;
    }
    .nav-tabs .nav-link.active{
            border-bottom: 3px solid;
            border-bottom-color: red;
    }
    .nav-item{
        width:250px;
    }

    .cartaCenter{
        margin: auto;
        width: 16rem;
    }

    .card-body{
    padding: 0px;
    }
    .card-img-top-logo{
        width: 6rem;
        height: 6rem;
    }

    .cardPosition:nth-child(1){  
        margin-top: 1rem;
    }
    .cardPosition:nth-child(2){
        margin-top: 2.5rem;
    }
    .cardPosition:nth-child(3){
        margin-top: 4rem;
    }

    .botonCard{
        margin: 1rem;
    }
    .botonCard:hover{
        color: $primary;
        background: white;
    }
    .inputCustom{
        display: inline;
        width: 14rem;
    }
    .footerLink{
        text-decoration:none;
        color: white;
        padding-left: 2rem;
    }
    .accordion-button:hover{
        color: $secondary  ;
    }
    .footerBg{
        background: #242946;
    }
    .lead{
        margin-right: 2rem;
    }
    .accordion-item{
        border-right: none;
        border-left: none;
    }



    // // //TABLET
     @media only screen and (max-width: 768px)
     {
         .roundedBackLeft{
            height: 266px;
            margin-top: 199px;
            width: 522px;
         }
     }

     
     // Mobile

     @media only screen and (max-width: 500px)
     {
         .roundedBackLeft{
             height: 120px;
             margin-top: 84px;
             width: 230px;
         }
     }